<h4>Subscribe here</h4>
<form action="/subscriber/create" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" required>
    <label for="text">Location</label>
    <input type="text" name="location" required>
    <label for="location_name">Location-Name</label>
    <input type="text" name="location_name" required>
    <label for="price">Price</label>
    <input type="number" name="price" required>
    <label for="date">Date</label>
    <input type="date" name="date" required>
    <input type="submit" name="submit">
</form>