<div  style="   border: 4px solid black; margin-top:12px; margin-right:10px;  height:200px; color: black; background-color: lightcyan;">
    <p>Only works if logged in, with a user which has a token!</p>
    <div style="display: flex; flex-direction: row; margin: 10px;  height: 100px;" id="events-box ">
        <button id="loadEvents" style=" height:40px; background-color: cadetblue; color:aliceblue; border-radius: 10px; ">
            Load events
        </button>
        <div class="events-body" style="display: flex;  padding-top: 20px; flex-direction: row;">

        </div>
    </div>
</div>
