<link rel=”stylesheet” href=public/css/tailwind.css”/>
<div style=" border: 1px solid black; ">
    <h3 style="text-align: center; margin: 3px;"> University Project by:  </h3>
    <p style="text-align: center; margin-top: -10px;"> 
        <br>
        Hendrik
        <br>
        Mauro
        <br>
        Jonas
        <br>
        Nell
        <br>
        Paul
    </p>
</div>
 
  
