<h1 style="text-align: center; ">Welcome to Music-Network</h1>
<div style=" margin-bottom: 24px; flex-direction: column; align-items: center; display:flex;">
    <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/6002bca5-da36-47e3-99bc-09e769d6e10d/d6l3t97-aa235dca-7356-4ffc-9740-ab871b122896.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzYwMDJiY2E1LWRhMzYtNDdlMy05OWJjLTA5ZTc2OWQ2ZTEwZFwvZDZsM3Q5Ny1hYTIzNWRjYS03MzU2LTRmZmMtOTc0MC1hYjg3MWIxMjI4OTYuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.7PHnbmdbMqbN31hxl7fKLHmJSKb3Q4BxblYQdmKNY9Y" alt="">
</div>
