<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div >NAVIGATION</div>
    <%- include("../partials/info.ejs") %>
    <%- body %>
    <% if (flashMessages) { %>
        <% if (flashMessages.success) { %>
            <div  >
                <%= flashMessages.success %>
            </div>
            <% } else if (flashMessages.error) { %>
                <div >
                    <%= flashMessages.error %>
                </div>
                <% } %>
                    <% } %>
    <div >FOOTER</div>
</body>
</html>
