<h4>Edit Subscriber here: </h4>
<form action="<%=`/subscribers/${subscriber._id}/update?_method=PUT`%>" method="POST">
    <label for="name" >Name</label>
    <input type="text" name="name" value="<%=subscriber.name %>" required>
    <label for="email" >E-mail</label>
    <input type="text" name="email" value="<%=subscriber.email %>" required>
    <label for="zipCode" >Zip-Code</label>
    <input type="number" name="zipCode" value="<%=subscriber.zipCode %>" required>
    <input type="submit" name="submit">
</form>