<h4>Subscribe here</h4>
<form action="/subscriber/create" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" required>
    <label for="email">E-mail</label>
    <input type="text" name="email" required>
    <label for="zipCode">Zip-Code</label>
    <input type="number" name="zipCode" required>
    <input type="submit" name="submit">
</form>